body{
    background-color: rgb(223, 222, 215);
    color: rgb(51, 44, 44);
    font-family: Verdana;
}

nav ul{
    display:flex; 
    list-style-type: none;
    justify-content:space-around; 
    align-items: center;
    text-align: center;
    width: 100%;
    margin:10px;
    padding: 5px;
}


.round_box{
    border-radius: 10% 10%;
    margin: 20px;
    padding: 20px;
}

.block{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-family: Verdana;
    margin:0;
    padding:5px;
}

.colunm_block{
    display:flex;
    flex-direction: column;
}

.light_orange{
    background-color: #f0d890;
    color:rgb(51, 44, 44)
}

.orange{
    background-color:chocolate;
    color:whitesmoke;
}

.light_purple{
    background-color:indigo;
    color:whitesmoke;
}


.gray{
    background-color: rgb(94, 91, 86);
    color:whitesmoke;
}

a{
    color:rgb(51, 44, 44);
}

b{
    font-family:Impact;
    font-size: larger;
    font-weight: lighter;
}

h1{
    font-size: x-large;
}